<h1 class="text-center"> Szaszte baktale, {{userName}}</h1>
<div class="container">
  <p>{{oszlopok[1]}}</p>

  <div *ngIf = "isAdmin" class="row my-3">
    <p *ngFor="let oszlop of oszlopok">
      {{oszlop}}
    </p>
  </div>

  <div class="row" >
    <div class="col" *ngFor = "let oszlop of oszlopok">
      <input [(ngModel)]="ujAllat[oszlop]" type="text" class="form-control" id="inputAllat">
    </div>
    <button (click)="addAnimal(ujAllat)" type="button" class="btn col">Add</button>
  </div>

  <div class="row my-3" *ngFor="let allat of allatok">
    <div class="col" *ngFor="let oszlop of oszlopok">
      {{allat[oszlop]}}
    </div>
  </div>

</div>